// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$brand-uab:                 #1e6b52 !default;
$brand-uab-green-2:         #a3d55d !default;
$brand-uab-green-3:         #92aba0 !default;
$brand-uab-gold:            #f4c300 !default;
$brand-uab-gold-2:          #d2c780 !default;
$brand-uab-beige:           #d3ccbc !default;
$brand-uab-red:             #eb6851 !default;
$brand-uab-brown:           #513528 !default;
$brand-uab-purple:          #5a5377 !default;
$brand-uab-blue:            #5d7e95 !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-uab-color:                  #fff !default;
$btn-uab-bg:                     $brand-uab !default;
$btn-uab-border:                 $btn-uab-bg !default;

$btn-uab-green-2-color:          #fff !default;
$btn-uab-green-2-bg:             $brand-uab-green-2 !default;
$btn-uab-green-2-border:         $btn-uab-green-2-bg !default;

$btn-uab-green-3-color:          #fff !default;
$btn-uab-green-3-bg:             $brand-uab-green-3 !default;
$btn-uab-green-3-border:         $btn-uab-green-3-bg !default;

$btn-uab-gold-color:             #fff !default;
$btn-uab-gold-bg:                $brand-uab-gold !default;
$btn-uab-gold-border:            $btn-uab-gold-bg !default;

$btn-uab-gold-2-color:           #fff !default;
$btn-uab-gold-2-bg:              $brand-uab-gold-2 !default;
$btn-uab-gold-2-border:          $btn-uab-gold-2-bg !default;

$btn-uab-beige-color:            #fff !default;
$btn-uab-beige-bg:               $brand-uab-beige !default;
$btn-uab-beige-border:           $btn-uab-beige-bg !default;

$btn-uab-red-color:              #fff !default;
$btn-uab-red-bg:                 $brand-uab-red !default;
$btn-uab-red-border:             $btn-uab-red-bg !default;

$btn-uab-brown-color:            #fff !default;
$btn-uab-brown-bg:               $brand-uab-brown !default;
$btn-uab-brown-border:           $btn-uab-brown-bg !default;

$btn-uab-purple-color:           #fff !default;
$btn-uab-purple-bg:              $brand-uab-purple !default;
$btn-uab-purple-border:          $btn-uab-purple-bg !default;

$btn-uab-blue-color:             #fff !default;
$btn-uab-blue-bg:                $brand-uab-blue !default;
$btn-uab-blue-border:            $btn-uab-blue-bg !default;


// Navbar

$navbar-white-color:                          rgba(0,0,0,.5) !default;
$navbar-white-hover-color:                    rgba(0,0,0,.7) !default;
$navbar-white-active-color:                   rgba(0,0,0,.9) !default;
$navbar-white-disabled-color:                 rgba(0,0,0,.3) !default;
$navbar-white-toggler-bg:                     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-white-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-white-toggler-border:                 rgba(0,0,0,.1) !default;

$navbar-uab-color:                            rgba($brand-uab,.5) !default;
$navbar-uab-hover-color:                      rgba($brand-uab,.7) !default;
$navbar-uab-active-color:                     rgba($brand-uab,.9) !default;
$navbar-uab-disabled-color:                   rgba($brand-uab,.3) !default;
$navbar-uab-toggler-bg:                       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-toggler-border:                   rgba($brand-uab,.1) !default;

$navbar-uab-green-2-color:                    rgba($brand-uab-green-2,.5) !default;
$navbar-uab-green-2-hover-color:              rgba($brand-uab-green-2,.7) !default;
$navbar-uab-green-2-active-color:             rgba($brand-uab-green-2,.9) !default;
$navbar-uab-green-2-disabled-color:           rgba($brand-uab-green-2,.3) !default;
$navbar-uab-green-2-toggler-bg:               str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-green-2-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-green-2-toggler-border:           rgba($brand-uab-green-2,.1) !default;

$navbar-uab-green-3-color:                    rgba($brand-uab-green-3,.5) !default;
$navbar-uab-green-3-hover-color:              rgba($brand-uab-green-3,.7) !default;
$navbar-uab-green-3-active-color:             rgba($brand-uab-green-3,.9) !default;
$navbar-uab-green-3-disabled-color:           rgba($brand-uab-green-3,.3) !default;
$navbar-uab-green-3-toggler-bg:               str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-green-3-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-green-3-toggler-border:           rgba($brand-uab-green-3,.1) !default;

$navbar-uab-gold-color:                       rgba($brand-uab-gold,.5) !default;
$navbar-uab-gold-hover-color:                 rgba($brand-uab-gold,.7) !default;
$navbar-uab-gold-active-color:                rgba($brand-uab-gold,.9) !default;
$navbar-uab-gold-disabled-color:              rgba($brand-uab-gold,.3) !default;
$navbar-uab-gold-toggler-bg:                  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-gold-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-gold-toggler-border:              rgba($brand-uab-gold,.1) !default;

$navbar-uab-gold-2-color:                     rgba($brand-uab-gold-2,.5) !default;
$navbar-uab-gold-2-hover-color:               rgba($brand-uab-gold-2,.7) !default;
$navbar-uab-gold-2-active-color:              rgba($brand-uab-gold-2,.9) !default;
$navbar-uab-gold-2-disabled-color:            rgba($brand-uab-gold-2,.3) !default;
$navbar-uab-gold-2-toggler-bg:                str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-gold-2-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-gold-2-toggler-border:            rgba($brand-uab-gold-2,.1) !default;

$navbar-uab-beige-color:                      rgba($brand-uab-beige,.5) !default;
$navbar-uab-beige-hover-color:                rgba($brand-uab-beige,.7) !default;
$navbar-uab-beige-active-color:               rgba($brand-uab-beige,.9) !default;
$navbar-uab-beige-disabled-color:             rgba($brand-uab-beige,.3) !default;
$navbar-uab-beige-toggler-bg:                 str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-beige-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-beige-toggler-border:             rgba($brand-uab-beige,.1) !default;

$navbar-uab-red-color:                        rgba($brand-uab-red,.5) !default;
$navbar-uab-red-hover-color:                  rgba($brand-uab-red,.7) !default;
$navbar-uab-red-active-color:                 rgba($brand-uab-red,.9) !default;
$navbar-uab-red-disabled-color:               rgba($brand-uab-red,.3) !default;
$navbar-uab-red-toggler-bg:                   str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-red-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-red-toggler-border:               rgba($brand-uab-red,.1) !default;

$navbar-uab-brown-color:                      rgba($brand-uab-brown,.5) !default;
$navbar-uab-brown-hover-color:                rgba($brand-uab-brown,.7) !default;
$navbar-uab-brown-active-color:               rgba($brand-uab-brown,.9) !default;
$navbar-uab-brown-disabled-color:             rgba($brand-uab-brown,.3) !default;
$navbar-uab-brown-toggler-bg:                 str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-brown-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-brown-toggler-border:             rgba($brand-uab-brown,.1) !default;

$navbar-uab-purple-color:                     rgba($brand-uab-purple,.5) !default;
$navbar-uab-purple-hover-color:               rgba($brand-uab-purple,.7) !default;
$navbar-uab-purple-active-color:              rgba($brand-uab-purple,.9) !default;
$navbar-uab-purple-disabled-color:            rgba($brand-uab-purple,.3) !default;
$navbar-uab-purple-toggler-bg:                str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-purple-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-purple-toggler-border:            rgba($brand-uab-purple,.1) !default;

$navbar-uab-blue-color:                       rgba($brand-uab-blue,.5) !default;
$navbar-uab-blue-hover-color:                 rgba($brand-uab-blue,.7) !default;
$navbar-uab-blue-active-color:                rgba($brand-uab-blue,.9) !default;
$navbar-uab-blue-disabled-color:              rgba($brand-uab-blue,.3) !default;
$navbar-uab-blue-toggler-bg:                  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-blue-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-blue-toggler-border:              rgba($brand-uab-blue,.1) !default;

// Badges

$badge-uab-bg:                $brand-uab !default;
$badge-uab-green-2-bg:        $brand-uab-green-2 !default;
$badge-uab-green-3-bg:        $brand-uab-green-3 !default;
$badge-uab-gold-bg:           $brand-uab-gold !default;
$badge-uab-gold-2-bg:         $brand-uab-gold-2 !default;
$badge-uab-beige-bg:          $brand-uab-beige !default;
$badge-uab-red-bg:            $brand-uab-red !default;
$badge-uab-brown-bg:          $brand-uab-brown !default;
$badge-uab-purple-bg:         $brand-uab-purple !default;
$badge-uab-blue-bg:           $brand-uab-blue !default;
